/*tyylit leipätekstille jne */

p {
        color: greenyellow;
        font-size: 32px;
}

/* tyylit classeille */

.luokka1 {
    background-color: aqua;
}

.fancy {
    color: green;
    border: 2px;
    background-color: aquamarine;
    border-radius: 8px;
}

/* tyylit id:lle */

#omaID1  {
    margin:100px;
}