<!doctype html>
<html lang="fi">
    <head> 
        <meta charset="utf-8">
        <title>Testisivut!</title>
        <link href="../css/style.css" type="text/css" rel="stylesheet">
        
    </head>
    <body>
      <div>
          <nav>
            <a href="http://www.kaleva.fi">KALEVA</a>
            <a href="http://www.iltasanomat.fi">ILTSANOMAT</a>
          </nav>
        <section>
          <h1>About</h1>
          <p>Lorem Ipsum some content here goes.</p>
             <!-- Tämä on kommentti -->
          <h1>Testisivut!</h1>
        
          <div class="fancy">
            <p class="" id="omaID1">Lorem Ipsum. asdfaasfasdfasdf Lorem Ipsum. asdfaasfasdfasdf</p>
            <input type="text" placeholder="tekstiä "/>
          </div>
          <p id="para1">Hello!</p>
        </section>
        <footer>
          <p>Copyright 2015</p>
        </footer>
      </div>     
      <script src="../lib/jquery-2.1.4.min.js"></script> 
      <script src="../controllers/scripts.js"></script> 
      
    </body>
</html>